@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
  }
  
  /* Inhoud */
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }

  h1 {
    margin: 32px 0;
    color: #ee1f1f;
    font-size: 24px;
  }
  
  /* Om te zorgen dat een task is voltooid || Nog niet af */
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }

  /* Icons */
  .delete-icon {
    margin-right: 5px;
    color: rgb(0, 0, 0);
  }
  
  /* From waar je tasks kan bijvoegen */
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input::placeholder {
    color: #aa80aa;
  }

  /* Task rows zijn hier te vinden */
  .task-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: rgb(36,0,31);  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .task-row:nth-child(3n + 1) {
    background: rgb(20,62,145);
    background: linear-gradient(39deg, rgba(20,62,145,1) 4%, rgb(16, 26, 168) 45%, rgb(7, 129, 230) 100%);
  }
  
  .task-row:nth-child(3n + 2) {
    background: rgb(20,62,145);
    background: linear-gradient(39deg, rgba(20,62,145,1) 4%, rgb(16, 26, 168) 45%, rgb(7, 129, 230) 100%);
  }
  
  .task-row:nth-child(3n + 3) {
    background: rgb(20,62,145);
    background: linear-gradient(39deg, rgba(20,62,145,1) 4%, rgb(16, 26, 168) 45%, rgb(7, 129, 230) 100%);
  }

  /* Buttons en Inputs */
  .bn1 {
    border-color: #0cffc2;
    padding: 12px 32px 13.3px 28px;
    cursor: pointer;
    font-size: 1em;
    color: #140000;
    background-color: rgb(16, 26, 168);
    background-image: linear-gradient(45deg, transparent 50%, #00a2ff 50%);
    background-position: 25%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
  }
  
  .bn1:hover {
    color: #ffffff;
    background-color: rgb(16, 61, 197);
    background-position: 50%;
  }

  .btn {
    background-color: rgb(16, 26, 168);
    background-image: linear-gradient(45deg, transparent 50%, #00a2ff 50%);
    background-position: 25%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;

    border-radius: 5px;
    border: none; 
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    color: #ffffff;
    background-color: rgb(16, 61, 197);
    background-position: 50%;
  }

  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #0cffc2;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }
  
  /* Media */
  @media (max-width: 1024px) {
    .todo-app {
      width: 520px;
      min-height: 600px;
    }
  }

  @media (max-width: 768px) {
    .todo-app {
      width: 520px;
      min-height: 600px;
    }
  }

  @media (max-width: 425px) {
    .todo-app {
      width: 350px;
      min-height: 400px;
      margin: 50px auto;
    }
  }
  @media (max-width: 425px) {
    .todo-input {
      padding: 14px 10px 15px 10px;
      width: 250px;
    }
  }

  @media (max-width: 375px) {
    .todo-app {
      width: 300px;
      min-height: 400px;
      margin: 50px auto;
    }
  }

  @media (max-width: 375px) {
    .todo-input {
      padding: 14px 10px 15px 10px;
      width: 200px;
    }
  }